.card-nota{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--fundo-detalhes);
  border-radius: 4px;
  flex-wrap: wrap;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 16px;
}
.card-nota-cabecalho{
  font-size: 1.1rem;
  display: flex;
  justify-content:  space-between;
  align-items: center;
}
.card-nota-texto{
  margin-top: 8px;
  font-size: 1em;
  margin: 0.75rem 0.4rem 0 0;
}
.card-nota-titulo{
  font-size: 1.5em;
  margin-right: 12px;
}